apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  labels:
    app: flask-app
spec:
  selector:
    matchLabels:
      app: flask-app
  replicas: 3
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-test-app
        image: gcr.io/hcl-pipeline/github.com/hemil70/kubernetes-deploy-tutorial:v1
        imagePullPolicy: IfNotPresent
